<div class="row">
<h1>Proyectos realizados</h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h2>Biblioteca</h2>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate in non doloremque! Nam quae numquam fuga aliquam libero suscipit dolorem dolore, sapiente assumenda atque eius expedita maxime dolorum. Earum, delectus!
</p>
    </div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-med-1 offset-lg-1 parte2 ">
<img src="../../../assets/biblioteca.jpg" class=" img-fluid img-proyecto">
</div>
</div>

</div>
