<div class="row">
    <div class="container">
       <div class="logo">    
           <img src="../../../assets/APLogo.png" id="logoAP">
           <a
        href= "../../../assets/cv.pdf"
        target= "_blank"
        ><button type="button" class="btn btn-secondary btn-lg active">CV</button></a
      >
        </div>
           <div class="redes"> 
        <a href="https://www.linkedin.com/in/belen-fraca-287272248/"> <img src="../../../assets/linkedin.png">  </a>
        <a href="https://www.instagram.com/belenfraca/"> <img src="../../../assets/instagram.png">  </a>
        <a href="https://github.com/BelenFrak"> <img src="../../../assets/github.png">  </a>
        <a href="https://www.facebook.com/belen.fraca"> <img src="../../../assets/facebook.png">  </a>
    <button type="button" class="btn btn-outline-light"(click)="login()"*ngIf="!isLogged"> INGRESO </button>
    <button type="button" class="btn btn-outline-light"(click)="onLogOut()"*ngIf="isLogged"> CERRAR SESION </button>
    </div>  
  </div>
</div>
   



